.nav-item ul {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  gap: 0 5px;
}

.nav-item {
  list-style-type: none;
}
.nav-item.dropdown li {
  display: none;
}

.button {
  width: 120px;
  height: 15px;
}
