@tailwind base;
@tailwind components;
@tailwind utilities;

.h {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.nav-item ul {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  gap: 0 5px;
}

.nav-item {
  list-style-type: none;
}

.nav-item.dropdown li {
  display: none;
}

div.form {
  width: 510px;
}


#root.active .dropdown li {
  display: inherit;
}

/* Loader */
#root.active a[href="/registration"],
.loading {
  display: none;
}

.active.loading {
  display: block;
  position: absolute;
  margin: calc(100% - 50% + 15%) auto;
}

/* submenu */
ul {
  display: flex;
}

.active .dropdown ul {
  display: flex;
  background: var(--fallback-b1, oklch(var(--b1)/1));
  flex-wrap: wrap;
}

#root.active a[href="/inlogin"] {
  display: none;
}

.dropdown .dropdown-memu {
  position: absolute;
  left: 0;
  bottom: -50px;
  width: max-content;
  }

.dropdown-memu {
  display: none;
}

.nav-item.active .dropdown-memu {
  display: inherit;
}

.active li.nav-item.dropdown {
  position: relative;
}


.active .nav-item.dropdown li {
  display: block;
}

.menu>.dropdown>ul>li {
  z-index: 2;
}
.profile.form {
  display: flex;
  flex-wrap: wrap;

  justify-content: flex-start;
  gap: 0 10px;
  padding-left: 25px;
  min-height: 100px;
    max-height: 100px;
}

.profilename .input[type="checkbox"] {

  width: 39px;
  height: 11px;
}
.profile>div {
  width: 230px;
}
/* Swiths */
.profile .switchs {
  display: none;
}
#root.active .profile .switchs {
  display: flex;
}

/*>input+div*/
#root.active .profile .profile-LastName>.active+div,
#root.active .profile .profile-FirstName>.active+div {
  display: none;
}
/* passwords */
.passwords[data-namex="passwords"] {
  display: none;
}

#root.active .passwords[data-namex="passwords"] {
  display: inherit;
}
.form-ads>div {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.form-ads hr {
  width: 90%;
  border: 0;
  border-top: solid 1px #514e4e;
  ;
}

label.input.input-bordered.flex.items-center.gap-2 {
  width: 430px;
}
.profile.form.list-ads>div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  gap: 0 15px;
  justify-content: space-between;
}
.profile.form.list-ads>div div {
  display: flex;
  flex-wrap: no-wrap;
  gap: 0 15px;
}

.list-ads>div button {
  color: aqua;
  font-size: 0.8em;
}
